<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{insert style.html}}
  <title>The Confused (aspiring) Algebraic Geometer - All Tags</title>
  <link src="https://cdn.jsdelivr.net/gh/vsalvino/computer-modern@main/fonts/serif.css" rel="stylesheet">
</head>
<body>
{{insert sidebar.html}}
<!-- Content appended here -->
<div class="franklin-content" id="all-tags">

<h2> All Tags </h2>

{{ list_all_tags }}

</div>

{{insert page_foot.html}}
{{insert foot.html}}
