<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{insert style.html}}
  <title>The Confused (aspiring) Algebraic Geometer</title>
  <link src="https://cdn.jsdelivr.net/gh/vsalvino/computer-modern@main/fonts/serif.css" rel="stylesheet">
</head>
<body>
{{insert sidebar.html}}
<!-- Content appended here -->
<div class="franklin-content" id="index-page">
<h1 class="header-anchor"> Why so confused? </h1>

<p>All but the most ingeneous of us has been confused at some point. Confusion is
painful - no one likes the feeling of being defeated, of not understanding
something which should have been clear. Yet, confusion is inevitable - in
pushing the boundary of our knowledge, one is bound to encounter completely new
things - a great source of confusion by all accounts.</p>

<p>Nonetheless, it is with confusion that we grow, and it is with confrontation
that we face our weaknesses, that we become better mathematicians. This blog
thus serves to document my journey of getting confused and hopefully
"unconfused".</p>

<p>I dedicate this blog to everyone who, like me, gets confused a lot. May you
have the courage to tide through confusion and push on. </p>

<h2> Recent posts </h2>

{{recent_posts 3}}

</div>

{{insert page_foot.html}}
{{insert foot.html}}
