 
.franklin-content {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  line-height: 1.35em;
  font-size: 1.05em;
}

.franklin-toc {
    border: 1px solid #aaa;
    display: table;
    width: auto;
    padding-right: 5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 0.5em;
}

.franklin-toc a {
    color: #000;
}

/* on wide screens, fix content width to a max value */
@media (min-width: 940px) {
  .franklin-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* on narrow device, reduce margins */
@media (max-width: 768px) {
  .franklin-content {
    padding-left: 6%;
    padding-right: 6%;
  }
}

.definition {
    background-color: aliceblue;
    border-left: 5px solid cornflowerblue;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 1em;
}

.example {
    background-color: honeydew;
    border-left: 5px solid darkgreen;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 1em;
}

.proposition {
    background-color: lemonchiffon;
    border-left: 5px solid goldenrod;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 1em;
}

.lemma {
    background-color: linen;
    border-left: 5px solid lightcoral;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 1em;
}

.theorem {
    background-color: lavenderblush;
    border-left: 5px solid crimson;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 1em;
}

.tags a {
    color: #515151;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tags li {
    list-style: none;
    margin-left: -1em;
}

.franklin-content blockquote {
    margin-left: 2em;
}

.franklin-content {
    color: #333;
}

.franklin-content h1 h2 h3 h4 h5 h6 {
    color: #222;
}

.franklin-content a {
    color: #006284;
}

#all-tags li {
    list-style: none;
}

