<!-- CONTENT ENDS HERE -->
      </div>  <!-- div: content container -->
    </div> <!-- wrap -->
    {{ if hasmath }}
        {{ insert foot_katex.html }}
    {{ end }}
    {{ if hascode }}
        {{ insert foot_highlight.html }}
    {{ end }}
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
  </body>
   <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="s    ha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>
</html>
