<div class="tags">
    {{ display_tag_header }}
    <ul>
        {{ list_tags }}
    </ul>
</div>

<div class="page-foot">
  <div class="copyright">
    &copy; {{ fill author }}. {{isnotpage /tag/*}}Last modified: {{ fill fd_mtime }}.{{end}} Website built with <a href="https://github.com/tlienart/Franklin.jl">Franklin.jl</a> and the <a href="https://julialang.org">Julia programming language</a>.
  </div>
</div>
