<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
      <p> Confusion is inevitable. </p>
  </div>
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item {{ispage index.html}}active{{end}}" href="/">Home</a>
    <a class="sidebar-nav-item {{ispage all_posts/*}}active{{end}}" href="/all_posts/">All posts</a>
    <a class="sidebar-nav-item {{ispage aboutme/*}}active{{end}}" href="/aboutme/">About me</a>
    <a class="sidebar-nav-item {{ispage alltags/*}}active{{end}}" href="/alltags/">All Tags</a>
  </nav>
  <div class="sidebar-item">
    <p>&copy; {{fill author}}.</p>
  </div>
</div>

<!-- Wrap is the content to shift when toggling the sidebar. We wrap the
content to avoid any CSS collisions with our real content. -->
<div class="wrap">
  <div class="masthead">
    <div class="container">
      <h3 class="masthead-title">
          <a href="/" title="Home">The Confused <small>(aspiring)</small> Algebraic Geometer</a>
      </h3>
    </div>
  </div>

  <div class="container content">
